name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  schedule:
    - cron: '0 0 29 6 *'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Pages
        id: setup
        uses: actions/configure-pages@v5
      - name: Build with portella
        uses: /eportella/markdown-to-html-builder@v1.2.0
        with:
          source-path: ${GITHUB_WORKSPACE}
          target-path: ${GITHUB_WORKSPACE}/_site
          source-url-base: ${{ steps.setup.outputs.base_url }}
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
